@import '../../theme/colors.scss';
@import '../../theme/mixins.scss';
page-login {
  .content {
    position: relative;
    background-image: url('../../assets/imgs/pexels-photo-574292.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .scroll-content {
      display: flex;
      align-items: center;
      justify-content: center;
      &>div {
        width: 100%;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .7;
      @include gradient-red();
    }
    .title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
      margin-bottom: 15px;
      .toolbar-title-md {
        color: $bg !important;
        font-size: .95em;
      }
    }
    .logo-section {
      display: flex;
      flex-flow: column;
      justify-content: center;
      img.text-logo {
        margin-top: 25px;
        margin-bottom: 40px;
      }
    }
    .input-section {
      padding: 0 1em;
      .list {
        .item {
          padding-left: 0;
          margin: 5px 0;
          &.item-md {
            background-color: transparent;
          }
          .text-input {
            color: $bg;
            font-weight: 600;
            font-size: .8em;
            letter-spacing: 1px;
            margin: 0;
            width: 100%;
            &::-webkit-input-placeholder {
              color: $bg;
            }
          }
        }
      }
      .login-btn {
        background-color: rgba(33, 33, 33, 0.5);
        color: $bg;
        border: none;
        font-size: .9em;
        clr-icon {
          margin-right: 15px;
        }
      }
      .others {
        display: flex;
        justify-content: space-between;
        .label {
          flex: initial;
          margin: 25px 0;
          font-size: .75em;
          text-transform: uppercase;
          color: darken($bg, 30%);
        }
        .reg-lbl {
          color: $bg;
        }
      }
    }
    .social-section {
      .social-login-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 20px;
        }
      }
    }
  }
}
