page-login {
  .content {
    position: relative;
    background-image: url('../../assets/imgs/pexels-photo-574292.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .scroll-content {
      display: flex;
      align-items: center;
      justify-content: center;
      &>div {
        width: 100%;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .7;
      background: rgba(201, 0, 147, 1);
      background: -moz-linear-gradient(top, rgba(201, 0, 147, 1) 0%, rgba(252, 3, 144, 1) 61%, rgba(86, 0, 49, 1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(201, 0, 147, 1)), color-stop(61%, rgba(252, 3, 144, 1)), color-stop(100%, rgba(86, 0, 49, 1)));
      background: -webkit-linear-gradient(top, rgba(201, 0, 147, 1) 0%, rgba(252, 3, 144, 1) 61%, rgba(86, 0, 49, 1) 100%);
      background: -o-linear-gradient(top, rgba(201, 0, 147, 1) 0%, rgba(252, 3, 144, 1) 61%, rgba(86, 0, 49, 1) 100%);
      background: -ms-linear-gradient(top, rgba(201, 0, 147, 1) 0%, rgba(252, 3, 144, 1) 61%, rgba(86, 0, 49, 1) 100%);
      background: linear-gradient(to bottom, rgba(201, 0, 147, 1) 0%, rgba(252, 3, 144, 1) 61%, rgba(86, 0, 49, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90093', endColorstr='#560031', GradientType=0)
    }
    .title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
      margin-bottom: 15px;
      .toolbar-title-md {
        color: #fff !important;
        font-size: .95em;
      }
    }
    .logo-section {
      display: flex;
      flex-flow: column;
      justify-content: center;
      img.text-logo {
        margin-top: 25px;
        margin-bottom: 40px;
      }
    }
    .input-section {
      padding: 0 1em;
      .list {
        .item {
          padding-left: 0;
          margin: 5px 0;
          &.item-md {
            background-color: transparent;
          }
          .text-input {
            color: #fff;
            font-weight: 600;
            font-size: .8em;
            letter-spacing: 1px;
            margin: 0;
            width: 100%;
            &::-webkit-input-placeholder {
              color: #fff;
            }
          }
        }
      }
      .login-btn {
        background-color: rgba(33, 33, 33, 0.5);
        color: #fff;
        border: none;
        font-size: .9em;
        clr-icon {
          margin-right: 15px;
        }
      }
      .others {
        display: flex;
        justify-content: space-between;
        .label {
          flex: initial;
          margin: 25px 0;
          font-size: .75em;
          text-transform: uppercase;
          color: darken(#fff, 30%);
        }
        .reg-lbl {
          color: #fff;
        }
      }
    }
    .social-section {
      .social-login-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 20px;
        }
      }
    }
  }
}
