page-register-form {
  .content {
    background: rgba(245, 245, 245, 1);
    background: -moz-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(254, 254, 254, 1) 30%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(30%, rgba(254, 254, 254, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(254, 254, 254, 1) 30%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(254, 254, 254, 1) 30%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(254, 254, 254, 1) 30%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(254, 254, 254, 1) 30%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0);
    .scroll-content {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      &>div {
        width: 100%;
      }
    }
    .title {
      text-transform: uppercase;
      text-align: left;
      letter-spacing: 1px;
      margin: 1.5em 0;
      .toolbar-title-md {
        color: #9B9387 !important;
        font-size: .95em;
        padding: 0;
      }
    }
    .head-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1em 0 3em 0;
      .back-btn {
        color: #212121;
        clr-icon {
          margin-right: 10px;
        }
      }
      .logo-section {
        display: flex;
        flex-flow: row;
        justify-content: center;
        img.text-logo {
          margin-left: 10px;
        }
      }
    }
    .input-section {
      padding: 0 1em;
      .list {
        .item {
          padding-left: 0;
          margin: 5px 0;
          &.item-md {
            background-color: transparent;
          }
          .text-input {
            color: #212121;
            font-weight: 600;
            font-size: .8em;
            letter-spacing: 1px;
            margin: 0;
            width: 100%;
            text-transform: capitalize;
            &::-webkit-input-placeholder {
              color: #212121;
            }
          }
        }
      }
      .reg-btn {
        background-color: #212121;
        color: #fff;
        border: none;
        font-size: .9em;
        clr-icon {
          margin-right: 15px;
        }
      }
      .terms {
        display: flex;
        justify-content: flex-start;
        margin: 2em 0;
        .label {
          flex: initial;
          margin: 0 0 0 2em;
          font-size: .75em;
          font-weight: 600;
          text-transform: lowercase;
          color: darken(#fff, 30%);
          span {
            color: #FF0392;
          }
        }
      }
    }
  }
}
