<div class="audition-card">
  <avater [type]="'medium'" [image]="image" [member]="{enable: false}" [status]="{enable: false}"></avater>
  <div class="content">
    <h2 class="title">{{title}}</h2>
    <div class="actions">
      <p class="location">
        <clr-icon shape="map-marker" size="14"></clr-icon>
        <span>Lagos</span>
      </p>
      <div>
        <span class="emp">Female</span>
        <span class="emp">Aged 18 - 25</span>
      </div>
    </div>
  </div>
  <button ion-fab color="light" class="float-btn">
    <clr-icon shape="check" size="16"></clr-icon>
  </button>
</div>
