@import '../../theme/colors.scss';
@import '../../theme/mixins.scss';
audition-card {
  display: block;
  margin: .5em 0;
  .audition-card {
    background-color: $bg;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    margin: 0 1em;
    border-radius: 3px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .16);
    avater {
      margin-right: 10px;
    }
    .content {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: calc(100% - 55px);
      .title {
        font-size: .9em;
        text-align: left;
        margin: 0 0 .2em 0;
        @include text-truncate();
      }
      .user {
        font-size: 10px;
        color: $primary;
        text-transform: uppercase;
        font-weight: 600;
      }
      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: .3em;
        p {
          text-transform: uppercase;
          font-weight: 600;
          margin: 5px 0 0 0;
          font-size: 12px;
          span {
            color: $primary;
          }
          clr-icon {
            font-weight: normal;
          }
          &.approved {
            color: $secondary;
          }
          &.declined {
            color: $danger;
          }
        }
      }
    }
  }
}
