<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start>
      <clr-icon shape="bars" size="18"></clr-icon>
    </button>
    <ion-searchbar [type]="'text'" [placeholder]="'Search...'" [animated]="true"></ion-searchbar>
    <button ion-button end clear>
      <clr-icon shape="bell" size="18" class="has-badge"></clr-icon>
    </button>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="currentTab" (ionChange)="segmentChanged($event)">
      <ion-segment-button *ngFor="let tab of tabs" [value]="tab.index" [class]="tab.class">
        <ion-label>{{tab.title}}</ion-label>
        <ion-badge class="indicator"></ion-badge>
        <ion-badge class="not-indicator" *ngIf="tab.index == 2"></ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides (ionSlideDidChange)="slideChanged()" #tabslide class="tab-slides">
    <ion-slide class="home-page">
      <div class="slide-cards">
        <!-- Slides for Info -->
        <ion-slides #cardslide (ionSlideWillChange)="homeSlideChange($event)">
          <ion-slide>
            <div class="info-card" style="background-image: url('../../assets/imgs/pexels-photo-679513.jpeg')" (tap)="openLogin()">
              <div>
                <h2>Get Started
                  <span>See How</span>
                </h2>
                <button class="play">
                  <clr-icon shape="play" size="16"></clr-icon>
                </button>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="info-card" style="background-image: url('../../assets/imgs/pexels-photo-60778.jpeg')" (tap)="openLogin()">
              <div>
                <h2>Some more Intersting Title</h2>
                <button>See How</button>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="info-card" style="background-image: url('../../assets/imgs/pexels-photo-681831.jpeg')" (tap)="openLogin()">
              <div>
                <h2>Some more Intersting Title Two</h2>
                <button>See How</button>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="info-card" style="background-image: url('../../assets/imgs/pexels-photo-681831.jpeg')" (tap)="openLogin()">
              <div>
                <h2>Looking for Talents, Post an Audition</h2>
                <button>Post Now</button>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
      <div class="title-section">
        <h2>Recent Applications</h2>
        <button ion-button clear small>see all</button>
      </div>
      <div class="application-cards">
        <!-- Slide for Applications -->
        <ion-slides #applyslide>
          <ion-slide *ngFor="let app of applications">
            <application-card [title]="app" [image]="'../assets/imgs/pexels-photo-11392.jpeg'"></application-card>
          </ion-slide>
        </ion-slides>
      </div>
      <div class="title-section">
        <h2>Recommended for you</h2>
      </div>
      <div class="audition-cards">
        <!-- Slide for Auditions -->
        <audition-card *ngFor="let app of applications" [title]="app" [image]="'../assets/imgs/pexels-photo-11392.jpeg'"></audition-card>
      </div>
    </ion-slide>
    <ion-slide class="audition-page">
      <h1>Auditions and Jobs</h1>
    </ion-slide>
    <ion-slide class="message-page">
      <h1>Messages</h1>
    </ion-slide>
  </ion-slides>
  <ion-fab bottom right [hidden]="currentTab != 1">
    <button ion-fab>
      <clr-icon shape="plus" size="24"></clr-icon>
    </button>
  </ion-fab>
</ion-content>
