<div class="application-item">
  <avater [type]="'medium'" [image]="image" [member]="{enable: false}" [status]="{enable: false}"></avater>
  <div class="content">
    <h2 class="title">{{title}}</h2>
    <span class="user">Talent2celeb studios</span>
    <div class="actions">
      <p>
        <clr-icon shape="chat-bubble" size="14"></clr-icon>
        <span>11</span>
      </p>
      <p>
        <clr-icon shape="users" size="14"></clr-icon>
        <span>11</span>
      </p>
    </div>
  </div>
  <button ion-button clear class="menu-btn">
    <clr-icon shape="ellipsis-vertical" size="14"></clr-icon>
  </button>
</div>
