@import '../../theme/colors.scss';
popover-menu {
  .list {
    padding: .6em 1.6em;
    .item {
      list-style: none;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
        font-size: 1.2em;
        text-transform: capitalize;
        color: $dark;
        padding: 10px 0;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
      }
      img:first-child {
        margin-right: 15px;
      }
      img:last-child {
        position: absolute;
        top: 12px;
        right: 5px;
      }
    }
  }
}
