@import '../../theme/colors.scss';
@import '../../theme/mixins.scss';
avater {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  &>.avater {
    position: relative;
    margin: 0 auto;
    &.small {
      @include avater-size-radius(25px);
    }
    &.medium {
      @include avater-size-radius(45px);
    }
    &.large {
      @include avater-size-radius(80px);
    }
    .avater-image {
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      @include avater-size-radius(100%);
      align-items: center;
      overflow: hidden;
      &>img {
        max-width: none;
        width: 200%;
        height: auto;
      }
    }
    .avater-info {
      position: absolute;
      @include fill-content();
      @include avater-size-radius(100%);
      &>.status {
        display: none; //remove
        position: absolute;
        bottom: 0px;
        left: 0px;
        @include avater-size-radius(15px);
        border: 3px solid $bg;
        background-color: $text;
        &.active {
          background-color: $primary;
        }
      }
      &>.member {
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 18px;
        height: 12px;
        background-color: $primary;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
        border-radius: 10px;
        line-height: 9px;
        text-align: center;
        &>span {
          color: $bg;
          font-size: 7px;
        }
      }
    }
  }
}
